body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Menlo, Monaco, "Courier New", monospace;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

div.container {
  /* border: 1px solid red; */
  display: inline-flex;
  margin: 0 auto;
  vertical-align: middle;
  /* transform: rotate(25deg); */
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.cell {
  /* border: 1px solid #ddd; */
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4em;
  margin: 0 auto;
  padding: 0;
  -webkit-animation: clockwise 25s infinite linear;
}

div.board-cell {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  -webkit-animation: counterclockwise 50s infinite linear;
}
